html {
    font-family: "Segoe UI", "微软雅黑";
}
body{
    background:url("txt.png") 100% 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    margin: 3px 0;
}
.template {
    display: none;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.card-wrap {
    margin: 3px;
    overflow: hidden;
    width: 300px;
    transition: all .5s ease;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.card-wrap:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    /*transform: translate3d(0, -4px, 0);*/
}

.card-wrap header {
    background: rgba(58,69,79,0.5);
    padding: 5px 3px;
    border-radius: 5px 5px 0px 0px;
    color: white;
}

.card-wrap header h3 {
    text-align: center;
    font-weight: normal;
}

.card-wrap header h5 {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-bottom:20px;
}

.card-wrap article {
    display: none;
    background: rgba(110, 140, 146, 0.4);
    color:#CECECE;
    font-size: 17px;
    overflow: hidden;
}

.card-wrap article .card-content {
    margin: 10px;
}

.sen-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60px;
    color: white;
    text-align: center;
}
